# ----------------------------
# Archivos compilados / binarios
# ----------------------------
*.o
*.obj
*.elf
*.hex
*.bin
*.map
*.ilk
*.lib
*.a
*.so
*.dll
*.exe
*.out

# ----------------------------
# Archivos de depuración
# ----------------------------
*.d
*.dSYM/
*.pdb
*.idb
*.su

# ----------------------------
# Archivos temporales / de workspace
# ----------------------------
/Debug/
/Release/
/*.launch
/.settings/
/.cproject
/.mxproject
/.project
/*.log

# ----------------------------
# STM32CubeIDE y herramientas relacionadas
# ----------------------------
/Core/Inc/*.d
/Core/Src/*.d
/Drivers/**/*.d
/STM32F103RBTX_FLASH.ld

# ----------------------------
# Otros temporales
# ----------------------------
*.bak
*.swp
*~ 
